*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  American Typewriter, serif;
    font-weight: bold;
    scroll-behavior: smooth;
}
.navbar{
    background: #131313;
    opacity: 0.6;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
} 
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo {
    background-color:#fff;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar__item {
    height: 80px;
}
.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.5s ease;
}


.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}
#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}
.navbar__toggle .bar {
    display: block;
    cursor: pointer;
}
/* Hero Section */

.hero {
    background: #9af0e1;
    padding: 200px 0;
    position: relative;
    Bottom: 150px;
    height: 120vh;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    max-width: 1200px;
    margin: 0 auto;
    height: 0;
    text-align: left;
    padding: 0;
    
}

.music__img{
    position: relative;
    height: 350px;
    float: right;
    margin-right: 150px;
}

.hero__container  h1{
    font-size: 20px;
    bottom: 30px;
    color: #061568;
    position: relative;
}
.hero__heading {
   font-size: 50px;
   color: #061568;
}
.hero__description {
    font-size: 20px;
    background: #da22ff;
    background: -webkit-linear-gradient(to right, #061568, #061568);
    background: linear-gradient(to right, #061568, #061568);
    /* convert box gradient into text */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.button {
    background-color: #73a3cf;
    color: #131313;
    padding: 20px 40px;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 50px;


}
.button:hover{
    background-color: #fff;
    color: rgb(9, 48, 121);
    transition: 0.4s;
}

/* About Section */

.main {
    background-color: #fff;
    padding: 0;
}
.main__container {
    color: #131313;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__container h1{
    text-align: center;
    font-size: 40px;
    position: relative;
    bottom: 50px;

}
.main__content{
    text-align: center;
}
.main__content h2 {
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 40px;
    color: #131313;
}
.main__btn {
    background-color: #89daff;
    color: #131313;
    padding: 20px 40px;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    
}
.main__btn a{
    text-decoration: none;
}
.main__btn:hover{
    background-color: #fff;
    color: rgb(0, 0, 0) !important;
    transition: 0.4s;
}
.footer__container{
    position: relative;
    top: 100px;
    height: 25vh;
    width: 100%;
    background-color: black;
    text-align: center;
}
.footer__container ul{
    position: relative;
    top: 60px;
    text-align: center;
    display: inline-block;
}
.footer__container ul li{
    display: inline-block;
    margin-right: 150px;
    margin-left: 150px;
}
.footer__container ul li h1{
    color: white;
}
.footer__container ul li a{
    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}